[submodule "utils/ft_printf"]
	path = utils/ft_printf
	url = https://github.com/ahmetcanfakili/ft_printf.git
[submodule "utils/libft"]
	path = utils/libft
	url = https://github.com/ahmetcanfakili/libft.git