[submodule "push_swap/utils/libft"]
	path = push_swap/libft
	url = git@github.com:ahmetcanfakili/libft.git
[submodule "push_swap/utils/ft_printf"]
	path = push_swap/ft_printf
	url = git@github.com:ahmetcanfakili/ft_printf.git
[submodule "push_swap/utils/get_next_line"]
	path = push_swap/utils/get_next_line
	url = git@github.com:ahmetcanfakili/get_next_line.git
[submodule "libft"]
	path = libft
	url = https://github.com/ahmetcanfakili/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/ahmetcanfakili/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/ahmetcanfakili/ft_printf.git
[submodule "utils/ft_printf"]
	path = utils/ft_printf
	url = https://github.com/ahmetcanfakili/ft_printf.git
[submodule "utils/libft/libft"]
	path = utils/libft/libft
	url = https://github.com/ahmetcanfakili/libft.git
[submodule "utils/get_next_line/get_next_line"]
	path = utils/get_next_line/get_next_line
	url = https://github.com/ahmetcanfakili/get_next_line.git
[submodule "utils/get_next_line"]
	path = utils/get_next_line
	url = https://github.com/ahmetcanfakili/get_next_line.git
[submodule "utils/libft"]
	path = utils/libft
	url = https://github.com/ahmetcanfakili/libft.git
